<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать производителя</title>
    <!-- Подключаем CSS для страницы редактирования моделей -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/brands/edit_brand.css}">
</head>
<body>
    <div class="container">
        <h2>Редактировать производителя</h2>
        <form th:action="@{/brands/update/{id}(id=${brand.id})}" th:object="${brand}" method="post" class="form">
            <div class="form-group">
                <label for="brandName">Название производителя</label>
                <input type="text" id="brandName" th:field="*{brandName}" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
        <a href="/brands" class="btn btn-secondary">Вернуться к производителям</a>
    </div>
</body>
</html>
